@model Notes_Manager.Models.Notes

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>@Html.DisplayFor(model => model.Title)</h3>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="action-button" style="background: #dc3545;" />
        <a asp-action="Index" class="action-button">Wstecz</a>
    </form>
</div>
